/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

body {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
}

.form {
  display: flex;
  justify-content: center;
  margin-top: 36px;
}

.search-input {
  font-size: 16px;
  font-family: inherit;
  box-sizing: border-box;
  padding: 8px 16px 8px 16px;
  width: 272px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  margin-right: 8px;
  transition: border .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.search-input:hover {
  border: 1px solid #000;
}

.search-input:active, .search-input:focus {
  border: 1px solid #4e75ff;
  outline: none;
}

.search-input::placeholder {
  font-family: inherit;
  color: #808080;
  font-size: 16px;
}

button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #4e75ff;
  border: none;
  transition: background-color .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.load-btn {
  width: fit-content;
  margin: auto;
  margin-bottom: 32px;
  display: none;
}

.load-btn.active {
  display: block;
}

button:hover {
  background-color: #6c8cff;
}

.iziToast-body {
  border-radius: 4px;
  font-family: montserrat, sans-serif;
}

.gallery {
  margin: 32px 156px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 32px;
}

.img-wrapper {
  width: 360px;
}

.gallery-image {
  object-fit: cover;
  height: 200px;
  width: 100%;
}

.gallery-item {
  border: 1px solid #808080;
}

.gallery-item h3 {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.gallery-item p {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
  text-align: center;
}


.card {
  margin-top: 4px;
  display: flex;
  gap: 28px;
  justify-content: center;
}

.loader {
  margin: auto;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(0deg, rgba(145, 173, 240, 0.2) 33%, #4e75ff 100%);
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader.active {
  margin-top: 32px;
  display: inline-block;
}

.loader::after {
  margin: auto;
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #fff;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}